html,
body,
#root {
  background-color: #ccc;
  height: 100%;
}
#root {
  box-sizing: border-box;
  padding: 2em 0;
}
.App {
  height: calc(100% - 4em);
  padding: 15px;
  background-color: #fff;
  max-width: 600px;
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}

.Chat {
  height: 100%;
  overflow-y: scroll;
}

.Chat > div {
  min-height: 150%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.3em;
  .sitename {
    font-weight: 700;
    font-size: 1.5em;
  }
  .search {
    margin-left: auto;
    margin-right: 0.5em;
    input {
      position: relative;
      overflow: hidden;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 2px;
      box-sizing: border-box;
      color: #333;
      padding: 8px 10px;
      transition: all 200ms ease;
      font-size: 1em;
    }
  }
}

.messageClass {
  padding: 0.3em 0.5em;
  margin-top: 0.4em;
  display: flex;
  flex-flow: column;
  border-radius: 15px;
  background-color: #bad7ba;
  .content {
    display: flex;
    align-items: baseline;
    .id {
      font-size: 0.9em;
    }
  }
  .actions {
    display: flex;
    font-size: 0.8em;
    margin-top: 0.5em;
  }
  .action {
    margin-right: 0.7em;
    cursor: pointer;
  }
  .right {
    margin-left: auto;
    margin-right: 0;
  }
}
.Message {
  margin: 0.5em 0.3em 0.5em 0;
  padding: 0.6em 0.6em;
}

.Reply {
  align-self: flex-end;
  background-color: #8eabf2;
  .text {
    margin-right: 1em;
  }
}

.MessageInput {
  display: flex;
  padding: 0.5em 0 0 0;
  textarea {
    flex-grow: 1;
    border-radius: 15px;
    padding: 0.2em 0.6em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    font-size: 1em;
    margin-right: 0.5em;
  }
}
